<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <meta charset="UTF-8">
    <title>ISO Testing Tool | Cards</title>
    <link rel="stylesheet" th:href="@{/static/css/bootstrap.min.css}">


</head>
<body>



<div th:replace="fragments/header :: 'header'"/>

<div class="container-fluid">

    <h4>Cards</h4>

    <div class="d-flex">
        <div>

        </div>
        <div class="ml-auto" style="padding-bottom:10px">
            <a class="btn btn-outline-primary btn-sm pull-right" href="/cards/add">Add new</a>
        </div>
    </div>

    <div th:replace="fragments/searchform :: searchform('cards')"/>

    <table class="table table-sm table-hover">
        <thead>
        <tr>
            <th scope="col" width="30%">name</th>
            <th scope="col" width="30%">description</th>
            <th scope="col" width="30%">PAN</th>
            <th  width="10%"></th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="card : ${cards}">
            <td><a th:href="@{'/cards/edit/?id=' + ${card.id}}" th:text="${card.name}"></a></td>
            <td th:text="${card.description}"></td>
            <td th:text="${card.pan}"></td>
            <td><a th:href="@{'/cards/delete/?id=' + ${card.id}}" class="btn btn-outline-danger btn-sm float-right">Delete</a></td>
        </tr>

        </tbody>

    </table>

    <div th:replace="fragments/pagination :: pagination('cards')"/>

</div>
<script th:src="@{/static/js/jquery-3.3.1.min.js}"></script>
<script th:src="@{/static/js/bootstrap.bundle.min.js}"></script>
<script th:src="@{/static/js/copy-project.js}"></script>
</body>
</html>